body{
    margin: 0;
}
h2{
    text-align: center;
}
.table{
    margin: 0 auto;
}
th{
    padding: 10px;
    background: #D4A59A;
}
td{
    padding: 10px;
    background: #F3E0DC;
}
.btn{
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    color: white;
    transition: 0.5 linear;
    cursor: pointer;
}
.number{
    text-align: center;
}
.action{
    padding: 10px 20px;
}
.btn__edit{
    margin-right: 10px;
    background: #61892F;
}
.btn__edit:hover{
    background: #3f5820;
}
.btn__delete{
    background: red;
}
.btn__delete:hover{
    background: rgb(164, 12, 12);
}
.add{
    text-align: center;
}
.btn__add{
    padding: 13px 25px;
    background: #4285F4;
    font-size: 16px;
}
.btn__add:hover{
    background: #064ab8;
}

/* thêm */
.content{
    height: 250px;
    width: 400px;
    margin: 80px auto;
    padding: 20px 40px;
    background: #F3E0DC;
    text-align: center;
    border-radius: 5px;
}
input{
    margin-bottom: 20px;
    padding: 10px;
}
.btn__save{
    margin-top: 10px;
    padding: 10px 40px;
    background: #61892F;
    font-size: 16px;
}
.btn__save:hover{
    background: #3f5820;
}
/* login */
.content-login{
    height: 300px;
    width: 400px;
    margin: auto;
    padding: 20px 40px;
    background: #F3E0DC;
    text-align: center;
    border-radius: 5px;
}
h3{
    margin-bottom: 30px;
}
label{
    margin-right: 5px;
}
p{
    margin: 0 0 10px 0;
    color: red;
}
.text_pass{
    margin-right: 35px;
}

/* homepage */
.homepage{
    background: rgb(214, 214, 215);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.btn__homepage{
    min-width: 150px;
    padding: 15px 20px;
    margin: 20px;
    background: rgb(214, 214, 214);
    border: none;
    border-radius: 25px;
    color: rgb(50, 207, 207);
    font-size: 15px;
    font-weight: bold;
    box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.7), 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}
.btn__homepage:hover{
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7), inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

/* update */
.content__update{
    width: 700px;
    margin: 80px auto;
    text-align: center;
    background: #F3E0DC;
}
.item{
    width: 200px;
    margin-right: 10px;
}
.text{
    margin-top: 0;
    padding-top: 20px;
}
.btn__edit{
    margin-left: 20px;
    margin-right: 15px;
}